html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*custom style*/
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-48{
    flex: 0 1 48%;
}
.flex-32{
    flex: 0 1 32%;
}
.flex-15{
    flex: 0 1 20;
}
.flex-25{
    flex: 0 1 25%;
}
.flex-60{
    flex: 0 1 60%;
}
.flex-55{
    flex: 0 1 55%;
}
.flex-23{
    flex: 0 1 23%;
}
.padding{
    padding: 4rem 6rem;
}
.padding2{
    padding: 4rem 0;
}
 .wrap{
    flex-wrap: wrap;
} 
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex1{
    display: flex;
}
.container{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    
}
.btn{
    background-color: rgb(247, 51, 51);
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.full-width{
    width: 100%;
    object-fit: cover;
}
.btn-primary{
    margin-top: 2rem;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
}
/*header*/
.header{
    position: absolute; 
    top:0;
    width: 100%;
}
.header span{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
.header nav ul li{
    margin-left: 2rem;
}
nav ul li a{
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
 #toggle{
    display: none;
} 
.bars{
    display: none;
}
/*hero*/
.hero{
    padding-top: 7rem;
    background: url("./images/bg2.webp") no-repeat;
    background-size: cover;
}
.hero span{
    color: blue;
}
h1{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 1.7rem;
}
.hero .text{
    color: #ffffff;
    font-weight: 500;
}
.article-img img{
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
/*about*/
.about{
    padding-top: 2rem;
}
h2{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.about img{
    border-radius: 0.8rem;
}
/*info*/
.info{
    background: rgb(136, 173, 206);
    padding-top: 2.3rem;
}
.center{
text-align: center;
}
 h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1.5rem 0;
}
.info .flex-32{
    border: 2px dashed red;
    padding: 2rem;
    position: relative;
}
.num{
    position: absolute;
    color: red;
    width: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    bottom:19.8rem;
    left: 3.5rem;
}
/*schedule*/
.schedule{
    padding-top:2.3rem ;
}
.circle1{
    height:10rem;
    width: 10rem;
    background-color: red;
    border-radius: 50%;
    font-size: 2rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.schedule img{
    height:10rem;
    width: 20rem;

}
.space{
    margin-bottom: 3rem;
}
.circle-two{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px dashed red;
    font-size: 2rem;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}
.col{
    position: relative;
}
.sift{
 position: absolute;
 width: 0.2rem;
 height: 3.4rem;
 border-left: 2px dashed red;
 bottom: -3.3rem;
 left:4.7rem;
}

.btn-secondary{
    margin: 0 auto;  
}
/*feature*/
.feature{
    background-color: rgb(136, 173, 206);
} 
.feature i{
    font-size: 5rem;
}
.feature p{
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: 1.5rem;
}
.feature .rate{
    font-size: 2rem;
}
.active{
    background-color: red;
    border-radius: 0.8rem;
    padding: 1.2rem;
}
iframe{
    width: 100%;
    height: 550px;
}
/*blog*/
.blog{
    background-color: rgb(136, 173, 206);;
}
.blog a{
    font-size: 2rem;
    margin-top: 1.7rem;
    color:black;
    display: inline-block;
}
.blog .flex-32 .active-three{
    color:red;
}
.flex-32 img{
    height:20.3rem;
}
/*footer*/
footer{
background-color: rgb(16, 16, 122);
}
footer .flex-32 strong{
    color: rgb(128, 128, 133);
    font-size: 1.2rem;
}
footer nav ul li a{
    font-size: 1rem;
    color: rgb(128, 128, 133);
}
footer .flex-32 nav ul li a i{
    margin-right: 1rem;
}
footer .flex-32 nav .top{
    margin-top: 1.2rem;
}
.bottom{
    background-color: rgb(7, 7, 58);
    color:rgb(128, 128, 133); 
    font-size: 1.2rem;
}
.padding3{
    padding: 1.2rem 0;
}

@media all and (max-width:1332px){
    .sift{
        display: none;
    }
}
@media all and (max-width:768px) {
   html{
       font-size: 12px;
   } 
   
   .wrap{
    flex-wrap: wrap;
}
   .flex-48, .flex-55, .flex-60, .flex-15, .flex-23, .flex-25, .flex-32{
       flex: 0 1 100%;
       text-align: center;
       margin-bottom: 2rem;
   }
   .jusi-center-i{
       justify-content: center;
   }
   .circle1, .circle-two{
       position: relative;
       left:23rem;
   }
   
   /*navbar*/
   .bg-column{
       flex-direction: column;
   }
   .nav{
       display: none;
   }
   .nav li{
       margin: 16px 0;
   }
   #toggle:checked ~ .nav{
       display: inline-block;
   }
   .header{
       height: 60px;
       position: fixed;
   }
   .logo{
    position: fixed;
    left: 32px;
    top: 12px;  
    z-index: 99;
   }
   .bars{
       font-size: 24px;
       color: #ffffff;
       position: fixed;
       right: 32px;
       top: 12px;  
       z-index: 99;
       display: inline-block;
   }
   .nav{
       position: fixed;
       left: 0;
       right: 0;
       bottom: 0;
       top: 0;
       width: 100%;
       height: 100vh;
       background-color: rgba(33,57,106,0.9);
       padding-top: 120px;
       z-index: 9;

   }
}


